<ng-container *ngIf="env !== 'preprod'; else preprod">
    <p-columnFilter class="{{$hostClass}}__column-filter" [field]="env + '.' + item" matchMode="in" [showMenu]="false">
        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <p-multiSelect
                placeholder="Any"
                [ngModel]="value"
                [options]="versionsList"
                (onChange)="filter($event.value)"
            >
                <ng-template pTemplate="item" let-option>
                    <span class="ml-1">{{ option.value }}</span>
                </ng-template>
            </p-multiSelect>
        </ng-template>
    </p-columnFilter>
</ng-container>

<ng-template #preprod>
    <p-columnFilter [field]="'prod.preprod_' + item" matchMode="in" [showMenu]="false">
        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <p-multiSelect
                placeholder="Any"
                [ngModel]="value"
                [options]="versionsList"
                (onChange)="filter($event.value)"
            >
                <ng-template pTemplate="item" let-option>
                    <span class="ml-1">{{ option.value }}</span>
                </ng-template>
            </p-multiSelect>
        </ng-template>
    </p-columnFilter>
</ng-template>
