<p-table
    #dt
    dataKey="title"
    [value]="projectsVersions"
    [columns]="selectedColumns"
    styleClass="p-datatable-gridlines p-datatable-sm p-datatable-striped"
    [scrollable]="true"
    scrollDirection="both"
    [scrollHeight]="screenHeight"
    [globalFilterFields]="globalFilterFields"
    selectionMode="multiple"
    [(selection)]="selectedRows"
    stateStorage="local"
    stateKey="versions-primeNG-state"
>
    <ng-template pTemplate="header" let-columns>
        <tr class="{{ $hostClass }}__row {{ $hostClass }}__row--first">
            <th pFrozenColumn rowspan="3" class="{{ $hostClass }}__filters">
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input
                        pInputText
                        class="{{ $hostClass }}__global-search-input"
                        type="text"
                        placeholder="Global search"
                        [value]="globalFilterFromStorage"
                        (input)="applyFilterGlobal($event, 'contains')"
                    />
                </span>
                <p-multiSelect
                    placeholder="Choose Columns"
                    [(ngModel)]="selectedColumns"
                    [options]="cols"
                    optionLabel="header"
                    selectedItemsLabel="{0} enviroments selected"
                ></p-multiSelect>
            </th>
            <th *ngIf="versionsCellWidth" colspan="15" [style]="{ width: versionsCellWidth + 'px' }">Versions</th>
        </tr>
        <tr>
            <th pFrozenColumn>
                <p-button label="Rows sel" icon="pi pi-trash" (click)="clearSelectedRows()"></p-button>
                <p-button label="Storage" icon="pi pi-trash" (click)="clearTableStates()"></p-button>
            </th>

            <th
                *ngFor="let col of columns"
                [style]="{ width: col.elems * defColWidth + 'px' }"
                class="{{ $hostClass }}__env-cell-first {{ $hostClass }}__env-cell-last"
            >
                {{ col.env }}
            </th>
        </tr>
        <tr>
            <th pFrozenColumn>Project</th>

            <ng-container *ngFor="let col of columns">
                <th class="{{ $hostClass }}__env-cell-first">engine</th>
                <th>theme</th>
                <th [ngClass]="[col.env === 'preprod' ? $hostClass + '__env-cell-last' : '']">core</th>
                <th *ngIf="col.env !== 'preprod'" class="{{ $hostClass }}__env-cell-last">php</th>
            </ng-container>
        </tr>
        <tr>
            <th pFrozenColumn class="{{ $hostClass }}__row {{ $hostClass }}__row--project-search">
                <p-columnFilter
                    type="text"
                    placeholder="Project search"
                    field="title"
                    matchMode="contains"
                    [showMenu]="false"
                ></p-columnFilter>
                <p-checkbox
                    label="Show selected rows only"
                    [(ngModel)]="showSelectedRowsOnly"
                    [binary]="true"
                    (onChange)="showSelectedRowsChange()"
                ></p-checkbox>
            </th>

            <ng-container *ngFor="let col of columns">
                <th class="{{ $hostClass }}__env-cell-first">
                    <app-versions-selector [env]="col.env" [item]="'engine'"></app-versions-selector>
                </th>
                <th>
                    <app-versions-selector [env]="col.env" [item]="'theme'"></app-versions-selector>
                </th>
                <th [ngClass]="[col.env === 'preprod' ? $hostClass + '__env-cell-last' : '']">
                    <app-versions-selector [env]="col.env" [item]="'core'"></app-versions-selector>
                </th>
                <th *ngIf="col.env !== 'preprod'" class="{{ $hostClass }}__env-cell-last">
                    <app-versions-selector [env]="col.env" [item]="'php'"></app-versions-selector>
                </th>
            </ng-container>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr *ngIf="!showSelectedRowsOnly || selectedRowsTitlesSet.has(rowData.title)" [pSelectableRow]="rowData">
            <td pFrozenColumn>{{ rowData.title }}</td>

            <ng-container *ngFor="let col of columns">
                <ng-container *ngIf="col.env !== 'preprod'; else preprod">
                    <td
                        class="{{ $hostClass }}__env-cell-first"
                        [ngClass]="{ 'has-tooltip': getTooltip('engine', rowData[col.env].engine) }"
                        [pTooltip]="getTooltip('engine', rowData[col.env].engine)"
                    >
                        {{ rowData[col.env].engine }}
                    </td>
                    <td
                        [ngClass]="{ 'has-tooltip': getTooltip('theme', rowData[col.env].theme) }"
                        [pTooltip]="getTooltip('theme', rowData[col.env].theme)"
                    >
                        {{ rowData[col.env].theme }}
                    </td>
                    <td
                        [ngClass]="{ 'has-tooltip': getTooltip('core', rowData[col.env].core) }"
                        [pTooltip]="getTooltip('core', rowData[col.env].core)"
                    >
                        {{ rowData[col.env].core }}
                    </td>
                    <td class="{{ $hostClass }}__env-cell-last">{{ rowData[col.env].php }}</td>
                </ng-container>
            </ng-container>

            <ng-template #preprod>
                <td
                    class="{{ $hostClass }}__env-cell-first"
                    [ngClass]="{ 'has-tooltip': getTooltip('engine', rowData.prod.preprod_engine) }"
                    [pTooltip]="getTooltip('engine', rowData.prod.preprod_engine)"
                >
                    {{ rowData.prod.preprod_engine }}
                </td>
                <td
                    [ngClass]="{ 'has-tooltip': getTooltip('engine', rowData.prod.preprod_theme) }"
                    [pTooltip]="getTooltip('engine', rowData.prod.preprod_theme)"
                >
                    {{ rowData.prod.preprod_theme }}
                </td>
                <td
                    class="{{ $hostClass }}__env-cell-last"
                    [ngClass]="{ 'has-tooltip': getTooltip('engine', rowData.prod.preprod_core) }"
                    [pTooltip]="getTooltip('engine', rowData.prod.preprod_core)"
                >
                    {{ rowData.prod.preprod_core }}
                </td>
            </ng-template>
        </tr>
    </ng-template>
</p-table>
